
<!DOCTYPE html>
<html>
  <head>
        <title> Add Users </title>
        <meta charset ="utf-8" />
  </head>
  <body>
        <h1> Add Users: </h1>
  </body>
  <br/>
  <form>
       User Name: <input type = "text" id="uname" name="uname">
       Password: <input type = "text" id="passwd" name="passwd">
       Full Name: <input type = "text" id="Fullname" name="Fullname"><br><br>	
 </form>
 <form action="/admin" />
       <input type="submit" value ="Home"/>
</form>
	

</html>

