
<!DOCTYPE html>
<html>
  <head>
        <title> Delete Users </title>
        <meta charset ="utf-8" />
  </head>
  <body>
        <h1> Delete Users: </h1>
  </body>
  <br/><form action ="/admin">
        <input type ="submit" value ="Home"/>
 </form>

</html>

