<!DOCTYPE html>
<html>
  <head>
    <title>Main Menu:</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Select from below:</h1>
  <a href="/admin/users"</a><button onClick="location.href'/admin/users'" type="button">View Users</button><br />
  <br />
  <a href="/uploadImage"</a><button onClick="location.href'/uploadImage'" type="button">Upload Image</button><br />
  <br />
  <a href="/viewImage"</a><button onClick="location.href'/viewImage'" type="button">View Images</button><br />
  </body>
</html>

